.ul {
    display: flex;
    align-items: center;
    grid-column-gap: 68px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
@media (max-width: 992px) {
    .ul {
        grid-column-gap: 30px;
    }
}