.text {
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}
.img {
    display: flex;
    align-items: flex-end;
    padding: 0 0 45px 45px;
    cursor: pointer;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    transition: opacity 1s ease-in-out;
    position: relative;
    z-index: 1;
    transition: .3s;
}
.img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
}
.img_hover {
    display: flex;
    align-items: flex-end;
    padding: 0 0 45px 45px;
    cursor: pointer;
    transition: .3s;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    transition: opacity 1s ease-in-out;
    position: relative;
    z-index: 1;
    transition: .3s;
}
.img_hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65));
}
@media (max-width: 560px) {
    .img {
        padding: 0 0 45px 15px;
    }
    .text {
        font-size: 20px;
        line-height: 30px;
    }
    .img_hover {
        display: flex;
        align-items: flex-end;
        padding: 0 0 45px 15px;
        cursor: pointer;
        transition: .3s;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        transition: opacity 1s ease-in-out;
        position: relative;
        z-index: 1;
        transition: .3s;
    }
}