.text {
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}
.img {
    display: flex;
    align-items: flex-end;
    padding: 0 0 45px 45px;
    cursor: pointer;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 1;
}
.img::after {
    position: absolute;
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background 1s ease;
    z-index: -1;
}
.img:hover::after {
    background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65));
}