.btn_next {
    width: 60px !important;
    height: 60px !important;
    background-color: #005FA3 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
    position: absolute !important;
    right: 0 !important;
    bottom: -120px !important;
    left: unset;
    top: unset;
    transform: unset;
    transition: .3s;
}
.btn_prev {
    width: 60px !important;
    height: 60px !important;
    background-color: #005FA3 !important;
    transform: rotate(180deg) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
    position: absolute !important;
    right: 60px !important;
    bottom: -120px !important;
    top: unset;
    transform: unset;
    left: unset;
    transition: .3s;
    
}
.btn_next::before, .btn_prev::before {
    display: none;
}
@media (max-width: 768px) {
    .btn_next {
        right: unset !important;
        left: 50% !important;
        bottom: -100px !important;
    }
    .btn_prev {
        right: unset !important;
        left: 50% !important;
        transform: translateX(-100%) rotate(180deg) !important;
        bottom: -100px !important;
    }
}