@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather:wght@700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Merriweather', serif; */
}

.react-parallax-content .slick-dots {
    bottom: -120px;
    left: 0;
    width: fit-content;
    display: flex !important;
    grid-column-gap: 40px;
}

.react-parallax-content .slick-dots li {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
}

.react-parallax-content .slick-dots li button {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 0.3;
    border-radius: 50%;
    padding: 0;
    margin: 0;  
}

.react-parallax-content .slick-dots li button:before {
    display: none; 
}

.react-parallax-content .slick-dots li.slick-active button {
    opacity: 1;
}

.react-parallax-content .slick-disabled {
        background-color: rgba(255, 255, 255, 0.2) !important;
        transition: .3s;
}

.clients_dots {
    bottom: -120px;
    left: 0;
    width: fit-content;
    display: flex !important;
    grid-column-gap: 40px;
}

.clients_dots li {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
}

.clients_dots li button {
    width: 10px;
    height: 10px;
    background: #005FA3;;
    opacity: 0.4;
    border-radius: 50%;
    padding: 0;
    margin: 0;  
}

.clients_dots li button:before {
    display: none; 
}

.clients_dots li.slick-active button {
    opacity: 1;
}
#clients .slick-disabled {
    background-color: rgba(0, 95, 163, 0.2) !important;
    transition: .3s;
}

.reviews_dots {
    bottom: -120px;
    left: 0;
    width: fit-content;
    display: flex !important;
    grid-column-gap: 40px;
}

.reviews_dots li {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
}

.reviews_dots li button {
    width: 10px;
    height: 10px;
    background: #005FA3;;
    opacity: 0.4;
    border-radius: 50%;
    padding: 0;
    margin: 0;  
}

.reviews_dots li button:before {
    display: none; 
}

.reviews_dots li.slick-active button {
    opacity: 1;
}

#reviews .slick-disabled {
    background-color: rgba(0, 95, 163, 0.2) !important;
    transition: .3s;
}
.react-parallax-content {
    width: 100% !important;
}
@media (max-width: 1024px) {
        .react-parallax-bgimage {
            height: 120% !important;
            object-fit: cover;
        }
}