.title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    color: #FFFFFF;
    max-width: 589px;
}
.btn {
    margin-top: 80px;
    width: 270px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    background: #005FA3;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
@media (max-width: 768px) {
    .title {
        font-size: 30px;
        line-height: 131.3%;
        margin: 0px 0 35px;
    }
    .btn {
        margin: 0;
        width: 100%;
    }
}