.main {
    min-height: 387px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 40px 0 170px;
}
@media (max-width: 768px) {
    .main {
        padding: 10px 0 82px;
    }
}