.link {
    display: flex;
    align-items: center;
    grid-column-gap: 16px;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}
@media (max-width: 1024px) {
    .link {
        width: 240px;
        grid-column-gap: unset;
        justify-content: space-between;
    }
}
@media (max-width: 560px) {
    .link {
        font-size: 16px;
        line-height: 138%;
        width: 180px;
    }
}