.title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.description {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 79px;
}
.links {
    display: flex;
    align-items: center;
    grid-column-gap: 40px;
}
@media (max-width: 1024px) {
    .description {
        margin-bottom: 11px;
    }
    .links {
        flex-direction: column;
        align-items: flex-start;
        grid-row-gap: 16px;
    }
}
@media (max-width: 560px) {
    .title {
        font-size: 30px;
        line-height: 144.55%;
        margin-bottom: 20px;
    }
    .description {
        font-size: 16px;
        line-height: 138%;
    }
}